
@{
    ViewBag.Title = "Admin Login";
    Layout = "~/Views/Shared/_LayoutAdminLogin.cshtml";
}

<div class="login_wrapper">
    <div class="animate form login_form">
        <section class="login_content">
            <form>
                <h1>Giriş Paneli</h1>
                <div>
                    <input type="text" class="form-control" placeholder="Username" required="" />
                </div>
                <div>
                    <input type="password" class="form-control" placeholder="Password" required="" />
                </div>
                <div>
                    <a class="btn btn-default submit" href="index.html">Giriş Yap</a>
                </div>
                <div class="clearfix"></div>
                <div class="separator">

                    <div class="clearfix"></div>
                    <br />
                    <div>
                        <h1><i class="fa fa-cloud"></i> UlakNot</h1>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>
